# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Data
# Ignore all files inside data/raw
data/raw/*
!data/raw/.gitkeep

# Ignore all files inside data/processed
data/processed/*
!data/processed/.gitkeep

# Ignore all files inside models
models/*
!models/.gitkeep


# IDEs
.vscode/
.idea/
